<!DOCTYPE html>
<html ng-app="myApp" class="ng-cloak">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="js/lib/select2-3.5.0/select2.css" />
    <link rel="stylesheet" href="js/lib/select2-3.5.0/select2-bootstrap.css" />


    <link rel="stylesheet" href="css/ng-grid.css" />
    <link rel='stylesheet' href='css/font-awesome.min.css'/>
    <link rel="stylesheet" href="js/lib/treecontrol/css/tree-control.css">
    <link rel="stylesheet" href="js/lib/treecontrol/css/tree-control-attribute.css">

    <link rel="stylesheet" href="css/app.css" />
    <link rel='stylesheet' href='css/style.css'/>
    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="js/lib/md5.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-cookies.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/script.min.js"></script>
    <script src="js/lib/select2-3.5.0/select2.min.js"></script>

    <script src="js/lib/select2-3.5.0/select2_locale_zh-CN.js"></script>
</head>
<body style='height:100%;overflow:hidden' class="noneselect">
<div  ui-view style='height:100%'></div>
<script src="js/lib/angular-locale_zh-cn.js"></script>
<script src="js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="js/lib/ng-grid-2.0.11.min.js"></script>
<script src="js/lib/ng-grid-zh-cn.js"></script>
<script src="js/main.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/module/util.js"></script>
<script src="js/module/login.js"></script>
<script src="js/module/main.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/lib/jquery.scrollTo.min.js"></script>
<script src="js/lib/treecontrol/angular-tree-control.js"></script>
<script src="js/lib/select2/select2.js"></script>
</body>
</html>
