/* app css stylesheet */
a {
    text-decoration: blink;
}

a:active {
    text-decoration: blink
}

a:hover {
    text-decoration: none;
    color: darkmagenta;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

/**
.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}
**/

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.leftmenu .accordion-heading {
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    background-color: #f1f6ff;
}

.borderradius {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #95B8E7;
}

.login {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(239, 245, 255) 0px, rgb(224, 236, 255) 20%);
    background-origin: padding-box;
    background-repeat: repeat-x;
    background-size: auto;
    border-bottom-color: rgb(149, 184, 231);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(149, 184, 231);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(149, 184, 231);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(149, 184, 231);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
    -moz-box-shadow: 2px 2px 3px #cccccc;
    -webkit-box-shadow: 2px 2px 3px #cccccc;
    box-shadow: 2px 2px 3px #cccccc;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2, MakeShadow=false, ShadowOpacity=0.2);
    z-index: 9001;
}

.content {
    border-color: #95B8E7;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #95B8E7;
    font: 14px '宋体';
    padding: 15px 0 0 0;
}

.title {
    font-weight: bold;
    height: 25px;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

html, body {
    height: 100%
}

.leftmenu {
    left: 10px;
    width: 200px;
    position: absolute;
    top: 40px;
    bottom: 10px;
    padding: 2px;
    overflow-y: auto;

    background-color: #e0ecff;
}

.leftmenu::-webkit-scrollbar {
    width: 0 !important
}

.leftmenu .accordion-heading a {
    font-size: 10px;
}

.leftmenu .accordion-group {
    background-color: #ffffff;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #95B8E7 !important;
    overflow: hidden;
}

.leftmenu .accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #95B8E7 !important;
}

.tabbable {
    height: 100%;
    background-color: #ffffff;
    border: 0px solid #95B8E7 !important;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#maintab > .nav-tabs {
    border-bottom: 1px solid #95B8E7 !important;
}

#maintab > .nav-tabs > .active > a, #maintab > .nav-tabs > .active > a:hover, #maintab > .nav-tabs > .active > a:focus {
    border: 1px solid #95B8E7 !important;
}

#maintab > .tab-content {
    background-color: #ffffff;
    padding: 10px;
    position: absolute;
    top: 40px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    border: 1px solid #95B8E7 !important;
    border-top: 0px !important;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#maintab > .nav {
    margin-bottom: 0px !important;
    background-color: #e0ecff;
}

#maintab > .nav-tabs > .active > a, #maintab > .nav-tabs > .active > a:hover, #maintab > .nav-tabs > .active > a:focus {
    color: #08c !important;
    border-bottom-color: transparent !important;
}

/*
.leftmenu .accordion-heading{
	background-color:#ffffff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7;
}
.leftmenu .accordion-inner{
	background-color:#ffffff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7;
}
*/
.menuitem {
    text-align: center;
}

.tabcontent {
    position: absolute;
    top: 40px;
    bottom: 10px;
    padding: 2px;
    left: 220px;
    right: 10px;
    background-color: #e0ecff;
}

.mainbody {
    height: 100%;
    background-color: #e0ecff;
    padding: 10px 20px 0 20px;
    overflow: hidden;
}

#maintab > .nav > li > a:hover, #maintab > .nav > li > a:focus {
    background-color: #fff !important;
}

/*
.leftmenu .accordion-group {
margin-bottom: 0 !important;
border: 1px solid #95B8E7 !important;
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;
}
*/

.gridStyle {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 40px;
    bottom: 40px;
    outline: none;
}

div {
    outline: none;
}

.gridbuttonDiv {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    height: 35px;
}

.gridbuttonDiv button > img {
    margin-right: 2px;
}

.ngFooterTotalItems {
    display: inline-block;
    float: left;
}

.ngTotalSelectContainer {
    width: 200px;
}

.pagination {
    position: absolute;
    left: 127px;
    right: 0px;
    bottom: 0px;
    height: 35px;
    margin: 0 !important;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    -moz-border-radius-topleft: 0px !important;

}

.pagination ul > li > a {
    cursor: pointer;
}

.totalText {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    position: absolute;
    left: 5px;
    right: 0px;
    bottom: 5px;
    height: 28px;
    margin: 0;
    width: 120px;
    border: 1px solid #ddd;
    color: #08c;
    text-align: center;
    line-height: 28px;
}

.queryselect {
    padding: 0px !important;
    margin: 0 0 0 5px !important;
}

.queryinput {
    padding: 0px !important;
    margin: 0 5px 0 0 !important;
    height: 30px !important;
    line-height: 30px !important;
}

.ngHeaderCell {
    cursor: pointer;
    display: inline-block;
    padding: 0px 0px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    text-align: center;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5 !important;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc ;
    border-right: 0px;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ngHeaderScroller > div:last-child.ngHeaderCell{
    border-right: 1px solid #ccc ;
}
.ngTopPanel {
    background-color: #fff !important;
}

.closebuttondiv {
    position: relative;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    float: right;
    padding: 3px;
}

.closebuttondiv a {
    width: 16px;
    height: 16px;
    float: right;
    display: inline-block;
    filter: alpha(opacity=60);
    vertical-align: top;
}

.panel-tool-close {
    background: url('../img/icons/panel_tools.png') no-repeat -16px 0px;
    border-width: 0 0 1px 0;
}
/*
.modal {
    background-color: #E0ECFF !important;
    border-radius: 5px 5px 5px 5px !important;
    border: 1px solid #95B8E7 !important;
    padding: 5px !important;
    width:800px !important;
}
*/

a {
    cursor: pointer !important;
}
.modal-header {
    color:#08c;
}
/*
.modal-header {
    padding: 2px 5px !important;
}

.modal-body {
    background-color: #fff !important;
    margin: 0 !important;
    border-radius: 2px 2px 2px 2px !important;
}

.modal-div {
    font-size: 12px !important;
}
*/
.row-div:hover {
    background-color: gray;
}

.row-div input {
    padding: 1px 2px 1px 2px !important;
    margin: 0px !important;
    height: 20px !important;
}


.row-head {
    text-align: center;
}

.cell-opt {
    text-align: center;
}

.item-table select, .item-table textarea, .item-table input[type="text"], .item-table input[type="password"], .item-table input[type="datetime"], .item-table input[type="datetime-local"], .item-table input[type="date"], .item-table input[type="month"], .item-table input[type="time"], .item-table input[type="week"], .item-table input[type="number"], .item-table input[type="email"], .item-table input[type="url"], .item-table input[type="search"], .item-table input[type="tel"], .item-table input[type="color"], .item-table .uneditable {
    height: 20px !important;
    line-height: 18px !important;
    padding: 0px;
    margin: 0px;
    height: 26px !important;
}

.item-table {
    border: 0px solid gray;
}

.table-left-head {
    padding-left: 5px;
}

.table-right-head {
    padding-left: 60px;
}

.listdiv {
    overflow-y: auto;
    width: 100%;
    max-height: 182px;
    z-index: -1;
}

.winmodel {
    width: 600;
}

.winmodel2 {
    width: 1000px !important;
    margin-left: -500px !important;
}

.ext-icon-close {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
}

#maintab > .nav-tabs {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 46px;
    height: 46px;
    margin-right: 45px;
}

#maintab > .nav-tabs > li {
    float: none;
    display: inline-block;
}

#maintab > .nav-tabs::-webkit-scrollbar {
    display: none;
}

.mover {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #e0ecff;
    height: 40px;
    line-height: 25px;
    padding: 10px;
    z-index: 1000;
}

.mover i {
    cursor: pointer;
    color: #08c;
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.mover i:hover {
    color: #05c;
    font-size: 25px;
    margin-top: 0px;
}

#maintab > .tab-content, .selectable {
    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
}

.noneselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
}

.leftmenu .accordion-toggle {
    font-weight: bold;
}

.leftmenu .panel-default {
    border-color: #95B8E7;
}

.leftmenu .panel-heading {
    padding: 5px;
}

.leftmenu .panel-title a {
    padding: 0;
    font-size: 10px;
    color: #428bca;
    display: block;
    padding-left: 10px;
}

.leftmenu .panel-group .panel + .panel {
    margin-top: 1px;
}

div.contentpane {
    position: relative;
}

div.contentpane > a.menuitem {
    display: block;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #CCF5CC;
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    background-color: #FFF;
}

div.contentpane > a.menuitem:hover {
    -moz-transform: translate(8px, -8px);
    -ms-transform: translate(8px, -8px);
    -o-transform: translate(8px, -8px);
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px)
}

.leftmenu .menuitem {
    margin-bottom: 10px;
}

.leftmenu .menuitem:hover {
    -moz-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    -o-transform: translate(4px, -4px);
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px)
}

div.contentpane > a.menuitem > img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.tab-content > .active {
    width: 100%;
    height: 100%;
}

#subtab {
    height: 100%;
    position: relative;
}

#subtab > .tab-content {
    position: absolute;
    top: 47px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#subtab > ul > li:first-child a {
     color: #fff;
   background: deepskyblue !important;
}

.lefttree {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 200px;
    overflow: auto;
    border: 1px solid #95B8E7;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}
.rightContent{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 205px;
    right:0px;
    overflow: auto;
    border: 1px solid #95B8E7;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.lefttree treecontroll{
    padding:5px 0 0 0 ;
}

.form-control {
    display: inline-block;
    vertical-align: middle;
}
.form-control.date{
    width:100px;
}
.form-control.date+ul+ span{
    display: inline-block;
}
.modal{
    overflow-y: hidden;
}

input.form-control{
    height:26px;
}
.radiobtn.btn{
    background-color: rgba(0, 128, 0, 0.13);
}
.radiobtn.btn:active, .radiobtn.btn.active{
    outline: 0;
    background-image: none;
    background-color: green;
    color:#fff;
}

.newdialog.modal-dialog{
    margin:0 auto;
}
.complexquery td{
    padding:1px 0 ;
}
/* appcodelist css */
span.codelist{
    display: inline-block;
    /*height:35px;*/
    margin:0 5px 0 0;
}
span.codelist > input {
    display: none;
}
span.codelist > input:checked + label {
    color:#fff;
    background-color: #56899c;
}
span.codelist > input:checked + label:before {
    content: "√ ";
    color:#ffffff;
    display: 'inline-block';
    width:20px;
}

span.codelist > input:checked + label >.index {
    color:#ffffff;
}
span.codelist > label {
    cursor:pointer;
    font-weight: normal;
    letter-spacing: 2px;
    margin:0;
}
span.codelist > label:before {
    content: "";
    white-space: pre;
}
span.codelist > label:hover {
    /*background-color: ;*/
    text-decoration: line-through;
    color:#56899c;
}
/* appcodelist css */

/*button css*/
.addbtn,.editbtn,.delbtn{
    font-size:15px;
    padding-right: 5px;
}
.addbtn{
    color:greenyellow;
}
.editbtn{
    color:#ffff00;
}
.delbtn{
    color: #af0200;
}
/*button css*/

/*tree css*/
treecontrol li .tree-label span{
    display: inline;
    white-space:nowrap;
}
treecontrol ul{
    overflow: visible;
}
treecontrol>ul>li{
    padding-left: 5px;
}
.lefttree treecontrol {
    position:absolute;
    left:0px;
    top:30px;
    right:0px;
    bottom:0px;
    overflow:auto;
}

.lefttree > .title {
    text-align: center;
    background-color: lightblue;
    display: block;
    height: 30px;
    line-height: 30px;
    position: fixed;
    width: 198px;
}

.rightContent > .title{
    height: 35px;
    line-height: 35px;
    background-color: #e0ecff;
    display: block;
    padding-left: 5px;
    width:100%;
}

.ngCellText.left{
    text-align: left;
}

.ngCellText.right{
    text-align: right;
}
.ngCellText.center{
    text-align: center;
}


#subtab .nav-tabs li.active a{
    background-color: #eef2ff;
    /*color: #fff;*/
}


.nav>li>a{
    padding:8px 12px;
}
.examtable{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #626262;
}

.examtable tr{
    width:100%;
}

.examtable .index{
    /*font-weight: bold;*/
    color:darkblue;
}
.examtable .head{
    background-color: #B0E0E6;
    color:#5f1f1a;
}
.examtable .title{
    font-size:20px;
    line-height: 40px;
    height:40px;
}

.examtable input{
    width:100px;
}
.examtable td{
    padding:2px 5px;
}
.examtable td.border{
    border:solid 1px #333;
}
/* window css */
.pre{
    white-space: pre-wrap;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
/* window css */