treecontrol li .tree-label span{
    display: inline;
    white-space:nowrap;
}
treecontrol ul{
    overflow: visible;
}
treecontrol>ul>li{
    padding-left: 5px;
}
.lefttree treecontrol {
    position:absolute;
    left:0px;
    top:30px;
    right:0px;
    bottom:0px;
    overflow:auto;
}

.lefttree > .title {
    text-align: center;
    background-color: lightblue;
    display: block;
    height: 30px;
    line-height: 30px;
    position: fixed;
    width: 198px;
}

.rightContent > .title{
    height: 35px;
    line-height: 35px;
    background-color: #e0ecff;
    display: block;
    padding-left: 5px;
    width:100%;
}

.gridStyle {

}