<input type="text" class="form-control date" datepicker-popup="yyyy-MM-dd" max-mode="day" format-day="dd" format-month="MM" format-year="yyyy"
       ng-model="localModel" is-open="opened" datepicker-options="dateOptions" ng-model-options="{timezone:'UTC'}"
       required="{{required}}" date-validator close-text="关闭" current-text="今天" clear-text="清除" placeholder="{{placeholder}}">
<span class="input-group-btn" style="display: inline-block;">
<button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i
        class="glyphicon glyphicon-calendar"></i></button>
</span>