<span style="width:100%;{{style}}" class="{{class}}" ng-init="modelval = (modelval? modelval:[])">
    <button class="btn btn-primary btn-sm" ng-click="add()">{{addtext}}</button>
    <button class="btn btn-primary btn-sm" ng-click="addtlb()">糖尿病</button>
    <button class="btn btn-primary btn-sm" ng-click="addhyp()">高血压</button>
    <br>
    <ul style="width:100%;list-style: none;line-height: 30px;">
        <li ng-repeat=" row in modelval">
            <select style="width:30%;height: 25px;" ng-model='row.code' ng-options="item.number as item.number+'、'+item.text  for item in codelist" placeholder="{{placeholder}}">
            </select>
            <input ng-model='row.name' style="height:25px;line-height: 25px;vertical-align: baseline;" ng-hide="row.code!= $parent.otherval" placeholder="{{otherplaceholder}}">
            <app-date ng-model="row.checkdate" placeholder="确诊日期"></app-date>
            <button class="btn btn-primary btn-sm" ng-click="del($index)">删除</button>
        </li>
    </ul>
</span>
