<div class='mainbody'>
    <div style="height: 40px; ">
        <img src="img/icons/201101251540294293.png" style="margin:0px" align="absmiddle">
        <font style="margin-top: 10px ; font-weight: bold; font-size: 16px; color: #44454a;">管理系统</font>

        <p style="margin-left:10px;margin-right:10px;float: right; color: gray;font-size:9px;">
            <a ng-click='logout()'>退出系统</a>
        </p>
        <a ng-click='test()'>测试</a>&nbsp;&nbsp;&nbsp;<a ng-click='test1()'>测试11</a>

        <p style="margin-left:10px;float: right; color: gray;font-size:9px; ">用户：{{username}}</p>
    </div>
    <div class='leftmenu'>
        <accordion close-others="true">
            <accordion-group ng-repeat="menu in menus" heading="menu.name" is-open="status.isFirstOpen"
                             is-disabled="status.isFirstDisabled">
                <accordion-heading>
                    <img ng-src='{{"img/menu/level1/"+menu.img}}'
                         style='margin:0 5px 0px 0'/>{{menu.name}}
                </accordion-heading>
                <div ng-repeat="child in menu.child" class="menuitem ng-scope">
                    <div style='cursor: pointer;'>
                        <a href='' ng-click="clickmenu(child)">
                            <img ng-src="{{'img/menu/level2/'+child.img}}">

                            <div ng-bind="child.name"></div>
                        </a>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <ul class="dropdown-menu">
        <li>
            <a>关闭</a>
        </li>
    </ul>
    <div class='tabcontent'>
        <div style="" class="mover noneselect">
            <i ng-click="scroll(150)" class="fa fa-angle-left"></i>&nbsp;
            <i ng-click="scroll(-150)" class="fa fa-angle-right"></i></div>
        <tabset id="maintab">
            <tab heading="简介">管理系统</tab>
            <tab ng-repeat=" (idx, pane) in panes" active="pane.active" select="active(idx,1)">
                <tab-heading>{{pane.name}} <a ng-show='pane.active' ng-click="closetab(idx)" href=''><i
                        class="ext-icon-close"></i></a></tab-heading>
                <tabset id="subtab" >
                    <tab class="firstnavtab" heading="导航" style="color:green">
                        <div class="contentpane"
                             style='width:100%;height:90%;background-image:url(img/menu/level2/{{pane.backgroundimg}});background-repeat: no-repeat;'>
                            <a ng-click="clicksubmenu(idx,item)" ng-repeat="item in pane.child" style="{{item.css}}"
                               class="menuitem {{item.class}}">
                                <img ng-src="{{'img/menu/level2/'+item.img}}">
                                <div ng-bind="item.name" ></div>
                            </a>
                        </div>
                    </tab>
                    <tab ng-repeat="module in pane.panes" active="module.active" >
                        <tab-heading>{{module.name}} <a ng-show='module.active' ng-click="closemoduletab(idx,$index)" href=''><i
                                class="ext-icon-close"></i></a></tab-heading>
                        <div style="width:100%;height:100%" ng-include="module.html"></div>
                    </tab>
                </tabset>
            </tab>
        </tabset>
    </div>
</div>