<div class="modal-header">
    <h3 class="modal-title">{{curbtn.windowtitle}}</h3>
</div>

<div class="modal-body" style="max-height: {{curbtn.window.height}}px;overflow-y:auto;border-collapse: collapse;">
<form name="validform" class="validform" novalidate>
{{  ret['builddate']  }}
{{Date.valueOf('2014-07-13T20:44:59.000Z')}}
    {{  ret['builddate'] | type }}
    {{  ret['builddate'] | date:'yyyy-MM-dd HH:mm:ss' }}
<table class="examtable">
<tr>
    <td colspan="1000" class="title center">
        居民健康档案封面
    </td>
</tr>
<tr>
    <td colspan="300" class="right">
        <span class="pre">姓 名：</span>
    </td>
    <td colspan="700">
        <input required="true" title="姓名"  minlength="2" maxlength="6"  ng-model="ret.name"  class="textinput"/>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre"> 现 住 址：</span>
    </td>
    <td colspan="700">
        <input  ng-model="ret['address']" class="textinput"/>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre">户籍地址：</span>
    </td>
    <td colspan="700">
        <input  ng-model="ret['residenceaddress']" class="textinput"/>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre">联系电话：</span>
    </td>
    <td colspan="700">
        <input  ng-model="ret['tel']" class="textinput"/>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre">乡镇（街道）名称：</span>
    </td>
    <td colspan="700">
        <app-orgselect ng-model="ret['townname']" level="4" selectable="isedit"
                       disable="curbtn.btntype =='edit'"></app-orgselect>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre">村（居）委会名称：</span>
    </td>
    <td colspan="700">
        <app-orgselect ng-model="ret['villagename']" level="5" parentid="ret['townname']"
                       disable="curbtn.btntype =='edit'" loaddefault="ret" defaultname="file_base"
                       cover="true"></app-orgselect>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre">建档单位：</span>
    </td>
    <td colspan="700">
        <input  ng-model="ret['buildunit']" class="textinput"/>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre">建 档 人：</span>
    </td>
    <td colspan="700">
        <input  ng-model="ret['buildperson']" class="textinput"/>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre">责任医生：</span>
    </td>
    <td colspan="700">
        <input  ng-model="ret['doctor']" class="textinput"/>
    </td>
</tr>
<tr>
    <td colspan="300" class=" right">
        <span class="pre">建档日期:</span>
    </td>
    <td colspan="700">
        <app-date ng-model="ret['builddate']" required="false"></app-date>
    </td>
</tr>
<tr>
    <td colspan="1000" class="center title">
        个人基本信息表
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">性  别</span>
    </td>
    <td colspan="450" class="border">

        <app-radio codetype="111" ng-model="ret['sex']" default="0"/>
        {{ret['sex']|json}}
    </td>
    <td colspan="100" class="head border center">
        <span class="pre">出生日期</span>
    </td>
    <td colspan="300" class="border">
        <app-date ng-model="ret['birthday']"></app-date>
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">身份证号</span>
    </td>
    <td colspan="300" class="border">
        <input type="text" ng-pattern="/^((\d{14})|(\d{17}))[\dxX]$/" maxlength="18" minlength="15" ng-model="ret['idnumber']" class="textinput" style="width:95%">
    </td>
    <td colspan="150" class="head border center">
        <span class="pre">工作单位</span>
    </td>
    <td colspan="400" class="border">
        <input type="text" ng-model="ret['workunit']" class="textinput" style="width:95%">
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">本人电话</span>
    </td>
    <td colspan="150" class="border">
        <input type="text" ng-model="ret['tel']" class="textinput" style="width:95%">
    </td>
    <td colspan="150" class="head border center">
        <span class="pre">联系人姓名</span>
    </td>
    <td colspan="150" class="border">
        <input type="text" ng-model="ret['linkman']" class="textinput" style="width:95%">
    </td>
    <td colspan="150" class="head border center">
        <span class="pre">联系人电话</span>
    </td>
    <td colspan="250" class="border">
        <input type="text" ng-model="ret['linktel']" class="textinput" style="width:95%">
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">常住类型</span>
    </td>
    <td colspan="350" class="border" app-radio ng-model="ret['residetype']" codetype="7" default="1">
    </td>
    <td colspan="100" class="head border center">
        <span class="pre">民    族</span>
    </td>
    <td colspan="400" class="border" app-radio ng-model="ret['nation']" codetype="57" default="1">
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">血    型</span>
    </td>
    <td colspan="850" class="border">
        <sapn app-radio ng-model="ret['bloodtypeabo']" codetype="115" default="5"></sapn>
        <span class="head pre">/ RH阴性：</span>
        <sapn app-radio ng-model="ret['bloodtyperh']" codetype="3" default="1"></sapn>
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">文化程度</span>
    </td>
    <td colspan="850" class="border" app-radio ng-model="ret['education']" codetype="99" default="6">
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">职    业</span>
    </td>
    <td colspan="850" class="border" app-radio ng-model="ret['occupation']" codetype="137" default="8">
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">婚姻状况</span>
    </td>
    <td colspan="850" class="border" app-radio ng-model="ret['maritalstatus']" codetype="37" default="5">
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">医疗费用<br>支付方式</span>
    </td>
    <td colspan="850" class="border">
        <sapn app-radio ng-model="ret['paymentmode']" codetype="123"></sapn>
        <input ng-if="ret['paymentmode']==8" type="text" ng-model="ret['paymentmodeother']" placeholder="其他医疗费用支付方式"
               style="width:70%">
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">药物过敏史</span>
    </td>
    <td colspan="850" class="border">
        <sapn app-checkbox ng-model="ret['allergiesHistory']" codetype="34" uncheckval="1" default="1"></sapn>
        <input ng-if="ret['allergiesHistory']['5']==true" type="text" ng-model="ret['allergiesother']"
               placeholder="其他药物过敏史" class="textinput" style="width:50%">
        <!--{{ret['allergiesHistory']|json}}-->
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">暴露史</span>
    </td>
    <td colspan="850" class="border">
        <sapn app-checkbox ng-model="ret.exposeHistory" codetype="192" uncheckval="1" default="1"></sapn>
    </td>
</tr>
<tr>
    <td colspan="30" rowspan="4" class="head border center">
        <span class="pre">既往史</span>
    </td>
    <td colspan="120" class="head border center">
        <span class="pre">疾病</span>
    </td>
    <td colspan="850" class="border">
        <!--<sapn app-checkbox ng-model="ret['diseaseHistory']" codetype="38" uncheckval="1" default="1"></sapn>-->
        <app-diseaselist ng-model="ret['diseaseHistory']" otherval="13" codetype="38" exclude="0" placeholder="请选择疾病"
                         otherplaceholder="其他疾病名称" addtext="增加疾病"/>
    </td>
</tr>
<tr>
    <td colspan="120" class="head border center">
        <span class="pre">手术</span>
    </td>
    <td colspan="850" class="border">
        <!--<sapn app-radio ng-model="ret['opshistory']" codetype="81" default="1"></sapn>-->
        <app-hislist ng-model="ret['opshistory']" otherval="13" codetype="81" exclude="0" placeholder="名称"
                     addtext="增加手术"/>
    </td>
</tr>
<tr>
    <td colspan="120" class="head border center">
        <span class="pre">外伤</span>
    </td>
    <td colspan="850" class="border">
        <!--<sapn app-radio ng-model="ret['traumaHistory']" codetype="94" default="1"></sapn>-->
        <app-hislist ng-model="ret['traumaHistory']" otherval="13" codetype="94" exclude="0" placeholder="名称"
                     addtext="增加外伤"/>
    </td>
</tr>
<tr>
    <td colspan="120" class="head border center">
        <span class="pre">输血</span>
    </td>
    <td colspan="850" class="border">
        <!--<sapn app-radio ng-model="ret['bloodTrans']" codetype="82" default="1"></sapn>-->
        <app-hislist ng-model="ret['bloodTrans']" otherval="13" codetype="94" exclude="0" placeholder="原因"
                     addtext="增加输血"/>
    </td>
</tr>
<tr>
    <td colspan="150" rowspan="3" class="head border center">
        <span class="pre">家族史</span>
    </td>
    <td colspan="200" class="head border center">
        <span class="pre">父  亲</span>
    </td>
    <td colspan="225" class="border">
        <app-dropcheckbox ng-model="ret['fatherHistory']" codetype="148" uncheckval="1" default="1"></app-dropcheckbox>
    </td>
    <td colspan="200" class="head border center">
        <span class="pre">母  亲</span>
    </td>
    <td colspan="225" class="border">
        <app-dropcheckbox ng-model="ret['matherHistory']" codetype="148" uncheckval="1" default="1"></app-dropcheckbox>
    </td>
</tr>
<tr>
    <td colspan="200" class="head border center">
        <span class="pre">兄弟姐妹</span>
    </td>
    <td colspan="225" class="border">
        <app-dropcheckbox ng-model="ret['brotherHistory']" codetype="148" uncheckval="1" default="1"></app-dropcheckbox>
    </td>
    <td colspan="200" class="head border center">
        <span class="pre">子  女</span>
    </td>
    <td colspan="225" class="border">
        <app-dropcheckbox ng-model="ret['familyHistory']" codetype="148" uncheckval="1" default="1"></app-dropcheckbox>
    </td>
</tr>
<tr>
    <td colspan="850" class="border">
        <sapn app-listshow codetype="148"></sapn>
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">遗传病史</span>
    </td>
    <td colspan="850" class="border">
        <sapn app-radio ng-model="ret['geneticHistory']" codetype="124" default="1"></sapn>
        <span ng-if="ret['geneticHistory']=='2'">疾病名称：<input type="text" ng-model="ret['geneticHistoryOther']"
                                                             placeholder="疾病名称" class="textinput"></span>
    </td>
</tr>
<tr>
    <td colspan="150" class="head border center">
        <span class="pre">残疾情况</span>
    </td>
    <td colspan="850" class="border">
        <sapn app-checkbox ng-model="ret['disabilityStatus']" codetype="6" uncheckval="1" default="1"></sapn>
        <input type="text" ng-if="ret['disabilityStatus']['8']==true" ng-model="ret['disabilityStatusOther']"
               class="textinput">
    </td>

</tr>

<tr>
    <td colspan="150" rowspan="5" class="head border center">
        <span class="pre">生活环境</span>
    </td>
    <td colspan="200" class="head border center">
        <span class="pre">厨房排风设施</span>
    </td>
    <td colspan="650" class="border">
        <sapn app-radio ng-model="ret['kitchen']" codetype="1245" default="1"></sapn>
    </td>
</tr>

<tr>
    <td colspan="200" class="head border center">
        <span class="pre">燃料类型</span>
    </td>
    <td colspan="650" class="border">
        <sapn app-radio ng-model="ret['bunkers']" codetype="1250" default="1"></sapn>
    </td>
</tr>
<tr>
    <td colspan="200" class="head border center">
        <span class="pre">饮水</span>
    </td>
    <td colspan="650" class="border">
        <sapn app-radio ng-model="ret['drinkingWater']" codetype="1257" default="1"></sapn>
    </td>
</tr>
<tr>
    <td colspan="200" class="head border center">
        <span class="pre">厕所</span>
    </td>
    <td colspan="650" class="border">
        <sapn app-radio ng-model="ret['toilet']" codetype="1264" default="1"></sapn>
    </td>
</tr>
<tr>
    <td colspan="200" class="head border center">
        <span class="pre">禽畜栏</span>
    </td>
    <td colspan="650" class="border">
        <sapn app-radio ng-model="ret['poultry']" codetype="1270" default="1"></sapn>
    </td>
</tr>
</table>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()"  tooltip="{{validform.$error|errortip}}">保存</button>
    <button class="btn btn-warning" ng-click="close()">关闭</button>
</div>
