<div ng-controller="HealthFileCtrl" style="width:100%;height:100%;position: relative">
    <script type="text/ng-template" id="tree_item_renderer.html">
        <div ng-init="left=data.left;">
            <span style="display: inline-block;width:{{data.left}}px"></span><i class="treeline" ng-click="treeclick(data)"></i><span
                ng-click="treeliclick(data)">{{data.name}}</span>
        </div>
        <ul ng-show="!data.hide">
            <li ng-repeat="data in data.nodes" ng-init="data.left=left+18" ng-class="getclass(data)"
                ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </script>
    <div class="lefttree">
        <span style="" class="title">行政区划</span>
    <treecontrol class="tree-classic "
                 tree-model="$parent.district"
                 options="treeOptions"
                 on-selection="showSelected(node)"
                 selected-node="node1">
        {{node.data.name}}
    </treecontrol>
    </div>
</div>