<div class="modal-header">
    <h3 class="modal-title">{{curbtn.windowtitle}}</h3>
</div>
<div class="modal-body" style="max-height: {{curbtn.window.height}}px;overflow-y:auto;border-collapse: collapse;">
    <table class="examtable" >
        <tr ng-repeat="(i,cfg) in curbtn.window.rowcfg">
            <td  ng-repeat="(j,item) in cfg.items" colspan="{{item.colnum}}"  ng-class="{true: 'border', false: ''}[item.hasborder]">
                <div ng-if="item.coltype == 'label'" style="{{item.style}}">
                    {{item.name}}
                </div>
                <input  ng-style="item.style" ng-if="item.coltype == 'text' || item.coltype == 'number'" type="{{item.coltype}}" ng-required="item.required" ng-model="ret[item.code]"
                       ng-style="item.inputstyle" ng-class="item.class"/>
                <p ng-if="item.coltype == 'date'"  style="display: inline-block;">
                    <input  ng-style="item.style" type="text" class="form-control date" datepicker-popup="yyyy-MM-dd"  maxlength="8"
                           ng-model="ret[item.code]" is-open="opened[item.code]" datepicker-options="dateOptions"
                           ng-required="item.required" close-text="Close"/>
                    <span  class="input-group-btn">
                    <button  ng-style="item.style" type="button" class="btn btn-default" ng-click="open($event,item.code)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                <div ng-if="item.coltype == 'radio'" class="btn-group">
                    <label style="{{item.style}}" ng-repeat="(idx,obj) in item.codelist" ng-init="initselect(item,obj)" class="btn radiobtn" ng-model="ret[item.code]" btn-radio="'{{obj.value}}'" >{{obj.text}}</label>
                </div>
                <div ng-if="item.coltype == 'lineradio'" style="display: inline-block;">
                    <div  ng-repeat="(idx,obj) in item.codelist"  class="btn-group" style="display: block;height:35px;">
                        <label style="{{item.style}}" class="btn radiobtn" ng-init="initselect(item,obj)" ng-model="ret[item.code]" btn-radio="'{{obj.value}}'">{{$index+1}}、{{obj.text}}</label>
                    </div>
                </div>
                <div ng-if="item.coltype == 'multiradio'" class="btn-group">
                    <label style="{{item.style}}" ng-repeat="(idx,obj) in item.codelist" ng-init="initselect(item,obj)" class="btn radiobtn" ng-model="ret[item.code][obj.value]" btn-checkbox >{{obj.text}}</label>
                </div>
                <div ng-if="item.coltype == 'multilineradio'" style="display: inline-block;">
                    <div  ng-repeat="(idx,obj) in item.codelist" ng-init="initselect(item,obj)"  class="btn-group" style="display: block;height:35px;">
                        <label style="{{item.style}}" class="btn radiobtn" ng-model="ret[item.code][obj.text]" btn-checkbox>{{$index+1}}、{{obj.text}}</label>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">保存</button>
    <button class="btn btn-primary" ng-click="reset()">重置</button>
    <button class="btn btn-warning" ng-click="close()">关闭</button>
</div>