<div style='height:100%;width:100%;padding-top:100px;background:url(../img/bg.jpg)'>
	<div style='width:600px;height:121px;margin:0px auto 0 auto;background:url(../img/title.png) no-repeat' >
	</div>
	<div close="close()" class='login' style='width:300px;margin:20px auto 0px auto;'>
		<div class='title'>系统登录</div>
		<div class='content'>
			<form style="padding:10px 20px 10px 40px;" >
                <span ng-show="data.msg" style="color:red;text-align:center;display:block;width:100%;padding-bottom:5px;" ng-bind='data.msg'></span>
				<p>用户名: <input ng-model="data.user_id" type="text"></p>
				<p>密&nbsp;&nbsp;码: <input ng-model="data.password" type="password" ></p>
				<div style="text-align:center;">
					<button class='btn btn-primary' style='margin:0 10px;padding:5 10px;' ng-click='login()'>登录</button>
					<button class='btn btn-warning' style='margin:0 10px;padding:5 10px;' ng-click='reset()'>取消</button>
				</div>
			</form>
		</div>
	</div>
</div>